src/data/config.ini
src/data/ArchivoConfig.xlsx
EvAutomatizarMti/*
enviroment/*
/src/functions/__pycache__/*
src/tests/__pycache__/*
src/pages/__pycache__/*
src/classes/__pycache__/*
src/data/capturas/*
EnviromentInmof/*
src/functions/Inicializar.py
